.js-slider{
  position: relative;
  overflow: hidden;
  height: 250px;
}

.js-slider__nav{
  position: absolute;
  right: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 24px;
}

.js-slider__section{
  transition: margin-top 0.5s ease;
  height: 250px;
}

.js-slider__nav__bullet{
  height: 10px;
  width: 10px;
  padding: 12px;
  cursor: pointer;
  position: relative;
  border: 4px solid transparent;
}

.js-slider__nav__bullet::after{
  content: " ";
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 5;
  box-sizing: border-box;
}

.js-slider__nav__bullet.active{
  border: 4px solid yellow;
}